# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Keil build output
*.dep
*.crf
*.lst
*.axf
*.bin
*.build_log.htm

# Keil generated directories and user settings
**/Objects/
**/Listings/
*.uvguix.*

# Editor and tool logs
**/.vscode/*.log
**/.vscode/*.log.lock
*.log

# Temporary and backup files
*.tmp
*.temp
*.bak
*.orig
*~
~$*
